.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.compiladorai
logs/**
src/**
node_modules/**
tsconfig.json
esbuild.js
.eslintrc.json
.compile_history